[Service]
User=polkadot
Group=polkadot

ExecStart=/usr/bin/polkadot \
  --name=derek-boot
  --pruning=archive
  --chain=rococo
  --base-path=/dev/sdh/polkadot/db
  --listen-addr=/ip4/0.0.0.0/tcp/30334
  --public-addr=/ip4/0.0.0.0/tcp/30334
  --execution=wasm
  --rpc-methods=Unsafe
  --execution=wasm
  --listen-addr=/ip4/0.0.0.0/tcp/30333
  --public-addr=/ip4/0.0.0.0/tcp/30333

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
